<div class="container-fluid">
<div class="row">
<div class="col-6 offset-3 text-center">

	<form th:method="POST" th:action="@{|/admin/delete?id=${user.id}|}" th:object="${user}" id="formDeleteUser">

		<strong>ID</strong><br>
		<input type="text" name="ID" th:field="*{id}" class="form-control" readonly /><br>

		<strong>First name</strong><br>
		<input type="text" name="username" th:field="*{username}" class="form-control" readonly /><br>

		<strong>Last name</strong><br>
		<input type="text" name="lastname" th:field="*{lastName}" class="form-control" readonly /><br>

		<strong>Age</strong><br>
		<input type="text" name="age" th:field="*{age}" class="form-control" readonly /><br>

		<strong>Email</strong><br>
		<input type="text" name="email" th:field="*{email}" class="form-control" readonly /><br>

		<strong>Password</strong><br>
		<input type="password" name="password" th:field="*{password}" class="form-control" readonly /><br>

		<strong>Role</strong><br>
		<select size="2" class="form-control" multiple name="roles" readonly>
			<option
					th:each="role : ${allRoles}"
					th:value="${role.id}"
					th:field="*{roles}"
					th:text="${role.name}"
			>
		</select>

	</form>

</div>
</div>
</div>